[submodule "extern/pybind11"]
	path = extern/pybind11
	url = ../../pybind/pybind11
	branch = stable
[submodule "thirdparty/pybind11"]
	path = thirdparty/pybind11
	url = ../../pybind/pybind11
	branch = stable
