[submodule "extern/pybind11"]
	path = extern/pybind11
	url = ../../pybind/pybind11
	branch = stable
[submodule "thirdparty/pybind11"]
	path = thirdparty/pybind11
	url = ../../pybind/pybind11
	branch = stable
[submodule "thirdparty/eigen"]
	path = thirdparty/eigen
	url = https://github.com/headmyshoulder/odeint-v2.git
[submodule "thirdparty/odeint"]
	path = thirdparty/odeint
	url = https://github.com/headmyshoulder/odeint-v2.git
[submodule "build/thirdparty/libode"]
	path = build/thirdparty/libode
	url = https://github.com/markmbaum/libode.git
[submodule "thirdparty/libode"]
	path = thirdparty/libode
	url = https://github.com/markmbaum/libode.git
[submodule "thirdparty/sundials"]
	path = thirdparty/sundials
	url = https://github.com/LLNL/sundials.git
